<!DOCTYPE html>
<html>
<head>
    <title>My SQLite GUI</title>
    <style>
        body { font-family: sans-serif; max-width: 600px; margin: auto; }
        table { width: 100%; border-collapse: collapse; }
        td, th { border: 1px solid #ccc; padding: 8px; }
    </style>
</head>
<body>
    <h1>Python Flask Finance</h1>

    <section id="spending-breakdown">
         <h2>Spending Breakdown</h2>
         <button id="generate-report">Generate Report</button>
       
    </section>


    <section id="income">
    
        <h2>Base Incomes</h2>
    
        <table>
            <tr><th>Name</th><th>Amount</th></tr>
            {% for income in incomes %}
            <tr> 
              <td>{{ income.owner_id }}</td>
              <td>{{ income.amount }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td><td>{{ total }}</td>
            </tr>
        </table>

        <br>
        
        <form action="/add-income" method="post" id="add-outgoing-form">
            <input type="number" name="ownerid" placeholder="Owner ID">
            <input type="text" name="name" placeholder="Enter item" required>
            <input type="number" name="amount" placeholder="Income Amount" required>
            <button type="submit">Add Income</button>
        </form>
    
        <br>
    </section>


    <section id="saving-pots">
        <h2>Saving Pots</h2>
        <table id="saving-pot-table">
            <tr><th>Pot</th><th>type</th><th>target</th><th>Current Progress</th></tr>
            {% for pot in saving_pots %}
            <tr>
                <td>{{ pot.name }}</td>
                <td>{{ pot.type }}</td>
                <td>{{ pot.target }}</td>
                <td>Insert current saved</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <form action="/add-savingpot" method="post" id="add-savingpot-form">
            <input type="text" name="name" placeholder="Pot name">
            <input type="text" name="type" placeholder="type">
            <input type="number" name="target" placeholder="Target">
            <button type="submit">Add Pot</button>
        </form>
    </section>
    <br>
    <section id="outgoings-table">
        <h2>Bills</h2>
        <h3>Fixed Bills</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Monthly Cost</th>
                <th>Frequency</th>
                <th>Fixed</th>
                <th>Date</th>
                <th>Category</th>
            </tr>

            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.frequency }}</td>
                <td>{{ item.fixed }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.category }}</td>
            </tr>
            {% endfor %}
            
        </table>
        
        <form action="/add-outgoing" method="post" id="add-outgoing-form">
            <input type="text" name="name" placeholder="Enter item" required>
            <input type="number" name="monthly-cost" placeholder="Monthly Cost" required>
            <input type="checkbox" name="fixed" title="Fixed?">
            <input type="text" name="frequency" placeholder="frequency">
            <input type="number" name="date" placeholder="Date">
            <input type="text" name="category" placeholder="Category"> 
            <button type="submit">Add</button>
        </form>

        <br>
        <h3>Variable Bills</h3>
        <table>
            <tr><th>Bill</th><th>Cost</th></tr>
        </table>
        <form>
            <input type="text" name="bill" placeholder="Bill">
            <input type="number" name="amount" placeholder="Amount">
            <button id="add-variable-bill">Add Bill</button>
        </form>
    </section>

</body>
</html>