<!DOCTYPE html>
<html>
<head>
    <title>My SQLite GUI</title>
    <style>
        body { font-family: sans-serif; max-width: 600px; margin: auto; }
        table { width: 100%; border-collapse: collapse; }
        td, th { border: 1px solid #ccc; padding: 8px; }
    </style>
</head>
<body>
    <h1>Python Flask Finance</h1>
    
    <section id="income">
        <h2>Base Incomes</h2>
        <table>
            <tr>
                <td>Alex</td><td>2100</td>
            </tr>
            <tr>
                <td>Amber</td><td>1800</td>
            </tr>
        </table>
    </section>

    <section id="saving-pots">
        <table>
            <tr><th></th></tr>

        </table>
    </section>
    <section id="outgoings-table">
        <form action="/add" method="post">
            <input type="text" name="name" placeholder="Enter item" required>
            <button type="submit">Add</button>
        </form>
        <table>
            <tr><th>ID</th><th>Name</th><th>Annual Cost</th></tr>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.annual_cost }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

</body>
</html>