<!DOCTYPE html>
<html>
<head>
    <title>My SQLite GUI</title>
    <style>
        body { font-family: sans-serif; max-width: 600px; margin: auto; }
        table { width: 100%; border-collapse: collapse; }
        td, th { border: 1px solid #ccc; padding: 8px; }
    </style>
</head>
<body>
    <h1>Python Flask Finance</h1>

    <section id="spending-breakdown">

    </section>
    
    <section id="income">
    
        <h2>Base Incomes</h2>
    
        <table>
            <tr>
                <td>Alex</td><td>2100</td>
            </tr>
            <tr>
                <td>Amber</td><td>1800</td>
            </tr>
            <tr>
                <td>Total</td><td>{{ incomes }}</td>
            </tr>
        </table>

        <br>
        
        <section>
            <input placeholder="name" type="text">
            <input placeholder="Amount" type="number">
            <button id="add-income">Add Income</button>
        </section>
    
        <br>
    </section>


    <section id="saving-pots">
        <table>
            <tr><th></th></tr>

        </table>
    </section>
    <br>
    <section id="outgoings-table">
        <h2>Bills</h2>
        <h3>Fixed Bills</h3>
        <table>
            <tr><th>ID</th><th>Bill</th><th>Annual Cost</th></tr>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.annual_cost }}</td>
            </tr>
            {% endfor %}
        </table>
        <form action="/add" method="post">
            <input type="text" name="bill" placeholder="Enter item" required>
            <button type="submit">Add</button>
        </form>
        <br>
        <h3>Variable Bills</h3>
        <table>
            <tr><th>Bill</th><th>Cost</th></tr>
        </table>
        <form>
            <input type="text" name="bill" placeholder="Bill">
            <input type="number" name="amount" placeholder="Amount">
            <button id="add-variable-bill">Add Bill</button>
        </form>
    </section>

</body>
</html>